@import "../../styles/colors.scss",
"../../styles/fonts.scss",
"../../styles/constants.scss";
$input-mobile-height: 42px;
$input-mobile-width: 288px;
$input-desktop-width: 816px;
$mobile-icon-size: 16px;
$desktop-icon-size: 20px;
.search-bar {
    font-size: $regular-font-size;
    padding: 0 35px 0 11px;
    height: $input-mobile-height;
    border-radius: $border-radius * 0.5;
    border: 2px solid $darkblue;
    width: $input-mobile-width;
    background: url("./search-icon.svg") no-repeat;
    background-position: $input-mobile-width - 2*$mobile-icon-size center;
    background-size: $mobile-icon-size;
}

.search-bar::placeholder {
    color: $darkblue;
}

@media (min-width: $phone-width) {
    .search-bar {
        font-size: $small-title-font-size;
        width: $input-desktop-width;
        padding: 0 35px 0 30px;
        height: $components-height;
        background-position: $input-desktop-width - 2*$desktop-icon-size center;
        background-size: $desktop-icon-size;
    }
}