$black: #1f1f1f;
$darkblue: #242a38;
$lightblue: #4e596f;
$darkgrey: #c4c4c4;
$lightgrey: #f7f7f9;
$white: #ffffff;
$orange: #f7805f;
$gradient: linear-gradient(66.62deg, #F66262 21.65%, #F7805F 73.11%);