$main-font: "Red Hat Display",
sans-serif;
$logo-font-size: 26px;
$small-logo-font-size: 18px;
$title-font-size: 24px;
$small-title-font-size: 16px;
$regular-font-size: 14px;
$small-font-size: 12px;
$normal-font-weight: 400;
$bold-font-weight: 700;